<div class="form-padding">
<h1>Client Register</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<!--<img src="img_avatar2.png" alt="Avatar" class="avatar">-->
<div class="container">
	<!--<div>
		<label for="name">Username</label>
		<input type="text" id="name" name="name" required>
	</div>-->

	<!--<div>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required>
	</div>-->

	{{> notes/intake}}
	</div>
</div>
