<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{{#if error}} <span>{{error}}</span>{{/if}}

<script>
	window.onload = function loadVars() {
		document.getElementById('date').value="{{date}}"
	}

</script>

<form action="/notes/intake" method="post">
	<h1>Intake Form</h1>

	<h1> Personal details </h1>
	<div>
		<label for="full_name">Full name</label>
		<input type="text" id="full_name" name="full_name" required>
	</div>

	<div>
		<label for="address">Address</label>
		<input type="text" id="address" name="address">
	</div>


	<h1>Contact details</h1>
	<div>
		<label for="home-phone">Home phone</label>
		<input type="text" id="home-phone" name="home-phone">
	</div>

	<div>
		<label for="mobile-phone">Mobile phone</label>
		<input type="text" id="mobile-phone" name="mobile-phone">
	</div>

	<div>
		<label for="work-phone">Work phone</label>
		<input type="text" id="work-phone" name="work-phone">
	</div>

	<div>
		<label for="email">Email</label>
		<input type="email" id="email" name="email">
	</div>

	<div>
		<label for="birth">Date of birth</label>
		<input type="text" id="birth" name="birth" required>
	</div>

	<div>
		<label for="children">Number of children</label>
		<input type="text" id="children" name="children">
	</div>

	<div>
		<label for="partner">Partners name</label>
		<input type="text" id="partner" name="partner">
	</div>


	<div>
		<label for="occupation">Occupation</label>
		<input type="text" id="occupation" name="occupation">
	</div>

	<div>
		<label for="accounts-name">Person responsible for accounts</label>
		<input type="text" id="accounts-name" name="accounts-name" required>
	</div>


	<div>
		<label for="health-fund">Health fund</label>
		<input type="text" id="health-fund" name="health-fund">
	</div>

	<h1>Referral Details</h1>

	<div>
		<label for="referrer">Who can we thank for referring you to us?</label>
		<input type="text" id="referrer" name="referrer" placeholder="Family/friend name">
	</div>

	<div>
		<label for="referrer-yellow-pages">Yellow Pages</label>
		<input type="radio" id="referrer-yellow-pages" name="referrer-yellow-pages">
	</div>

	<div>
		<label for="referrer-sign">Saw sign</label>
		<input type="radio" id="referrer-sign" name="referrer-sign">
	</div>

	<div>
		<label for="referrer-health-fund">Health fund</label>
		<input type="radio" id="referrer-health-fund" name="referrer-health-fund">
	</div>

	<div>

		<label for="referrer-acupuncture-association">Accupuncture Association</label>
		<input type="radio" id="referrer-acupuncture-association" name="referrer-acupuncture-association">
	</div>

	<div>
		<label for="referrer-health-care">Health care practitioner</label>
		<input type="radio" id="referrer-health-care" name="referrer-health-care">
	</div>

	<div>
		<label for="referrer-voucher">Voucher</label>
		<input type="radio" id="referrer-voucher" name="referrer-voucher">
	</div>

	<div>
		<label for="referrer-paper">Local paper</label>
		<input type="radio" id="referrer-paper" name="referrer-paper">
	</div>

	<div>
		<label for="first-visit">Is this your first visit to an Acupuncturist?</label>
	</div>

	<div>
		<label>Yes</label>
		<input type="radio" name="first-visit" value="yes">
	</div>

	<div>
		<label>No</label>
		<input type="radio" name="first-visit" value="no">
	</div>

	<h1>Accidents or Injuries</h1>

	<div>
		<label for="injuries">List any accidents or injuries and the date that they happened</label>
		<input type="text" id="injuries" name="injuries">
	</div>

	<div>
		<label for="doctor">Your medical doctor</label>
		<input type="text" id="doctor" name="doctor">
	</div>

	<div>
		<label for="doctor-phone">Your medical doctor's phone number</label>
		<input type="text" id="doctor-phone" name="doctor-phone">
	</div>

	<h1>Health Details</h1>

	<div>
		<label>List any medications currently taken</label>
	</div>

	<div>
		<label for="med-pain">Pain killers</label>
		<input type="radio" id="med-pain" name="med-pain">
	</div>

	<div>
		<label for="med-muscle-relaxants">Muscle relaxants</label>
		<input type="radio" id="med-muscle-relaxants" name="med-muscle-relaxants">
	</div>

	<div>
		<label for="med-anti-inflamantory">Anti-inflamantory</label>
		<input type="radio" id="med-anti-inflamantory" name="med-anti-inflamantory">
	</div>

	<div>
		<label for="med-birth-control">Birth control</label>
		<input type="radio" id="med-birth-control" name="med-birth-control">
	</div>

	<div>
		<label for="med-pressure">Blood pressure</label>
		<input type="radio" id="med-pressure" name="med-pressure">
	</div>

	<div>
		<label for="med-vitamins">Vitamins</label>
		<input type="radio" id="med-vitamins" name="med-vitamins">
	</div>

	<div>
		<label for="med-other">Please list any other</label>
		<input type="text" id="med-other" name="med-other">
	</div>

	<div>
		<label for="operations">List any operations and the date at which they occured</label>
		<input type="text" id="operations" name="operations">
	</div>

	<div>
		<label for="pregnant">Are you pregnant?</label>
	</div>

	<div>
		<label>Yes</label>
		<input type="radio" name="pregnant" value="yes" required>
	</div>

	<div>
		<label>No</label>
		<input type="radio" name="pregnant" value="no" required>
	</div>

	<div class="form-button-outer">
	 	<button class="button2" type="submit">Done</button>
		<a class="button2 button cancelbtn" href="/login">Cancel</a>
	</div>
</form>
</body>
</html>
