 <ul class="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/#client#">#client#</a></li>
	<li><a href="/notes">New Note</a></li>
	<li style="float:right"><a href="/settings">#user# Settings</a></li>
	<li style="float:right"><a href="/notifications">Notifications</a></li>
 </ul>
